@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Rock+Salt&display=swap');

body {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  background: url(./images/Wallpaper-Clouds-Figure-Background-Simpsons-Art-Begin131920x1200.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homepage-title {
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cabin', sans-serif;
}

 
.logo {
  width: 210px;
}

.modal-header, .modal-footer {
  padding: 10px;
  background-color: white;
}

.modal-body {
  padding: 10px;
  background-color: white;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.image {
  height: 400px;
}

.gallery-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.gallery-pic {
  transition: transform .2s;
  height: 200px;
}

.gallery-pic:hover {
  transform: scale(1.5); 
}

button {
 background-color: white;
 margin: 10px;
 font-family: 'Rock Salt', cursive;
 box-shadow: 11px 10px 13px 0px rgba(0,0,0,0.75);
}

@media only screen and (max-width: 600px) {
  .image {
    height: 300px;
  }

}